<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>EventsApp</title>
</head>
<body>

    <h1>Event Registration:</h1>
    <form method="post">
        Name: <input type="text" value="" name="name"/>
        Local: <input type="text" value="" name="local"/>
        Date: <input type="date" value="" name="date"/>
        Hour: <input type="text" value="" name="hour"/>

        <button type="submit">Save</button>

        </form>

</body>

</html>